*{
	box-sizing: border-box; 
  margin: 0;
  padding: 0;
  list-style: 0;
  text-decoration: 0;

	
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color: white;
}



.logo{
  margin-top: 10px;
  margin-right: auto;
  margin-left:0px;
  max-height:200px; 
  max-width:200px;
  vertical-align: middle;
}



/*HEADER*/

.header{
  width: 100%;
  height:100px;
  display: block;
  background-color: #A22319;

}

.inner_header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container{
  height: 100%;
  display: table;
  margin-left: auto;
  margin-right: auto;

}



.header2index{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;

}

/*...............................*/


/*Introduction*/
h1 {
	font-size: 40px;
	margin-bottom: 0px;
	color: #A22319; 
	text-align: center;
	}


.header-image{
	color: black; 
	height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
	}
/*...............................*/

.Head_Ima{
  width: 100%;
  height: 50%;
  }


section{
	max-width: 100%;
  height: 300px;
	margin-left: auto;
	margin-right: auto;
  
	color: black; 
	text-align: center;
  background-color: black


}


.inner_section{
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
img {
/*  float: left;*/
  max-width: 100%;
}

h3 {
  display: block;
  font-size: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  }


p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;

}

p a:hover{
      color: white;
      transition: all 0.5s ease-in;
}


.g-row1{
  width: 100%;
  overflow: hidden;

  background-color: white;
}

.g-row2{
  width: 100%;
  overflow: hidden;

  background-color: black;
color: white;
}

.g-row img{
  width: 70%;
}

.g-50{
  width: 50%;
  float: left;
}

.g-30{
  width: 30%;

}

.g-70{
  width: 79%;
  margin-top: 5%;
  float: left;
}

.show{
  border: 1px solid blue;
  padding: 2px;
}

.padded{
  padding: 20px; 
}












.Title{
	font-family: "Skia",sans-serif;
	font-size: 40px;
	color: white; 
}

.sticky {
  	position: fixed;
  	top: 0;
  	width: 100%
}


.sticky + .content {
  	padding-top: 102px;
}






